server:
  port: ${PORT:8080}

spring:
  application:
    name: your-app-name

  profiles:
    active: prod

  datasource:
    url: ${DATABASE_URL}
    username: ${PGUSER}
    password: ${PGPASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always

logging:
  level:
    root: INFO

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000